
{% extends "base.html" %}
{% load static %}
{% block main %}






    <div class="container m-5 row" >
          
        <div class="contact-card col-lg-4 col-md-5 col-12 w-sm-100 sm-mx-0" style="margin-top:200px; padding: 40px" >
      
           
            <div class="contact-info">
                <h2></h2>
                <p><strong>Address:</strong> 123 Foodie Lane, Flavor Town, FT 45678</p>
                <p><strong>Phone:</strong> (123) 456-7890</p>
                <p><strong>Email:</strong> contact@deliciousbites.com</p>
                <p><strong>Opening Hours:</strong><br>
                   Mon - Fri: 10am - 10pm<br>
                   Sat - Sun: 9am - 11pm</p>
           

            </div>
            <img src="{% static 'images/img/contact.jpg' %}" height="300px" width="300px" alt="" class="img-fluid">
        </div>
    
    
    
    











    <div class="contact-card col-lg-6 col-md-6 w-sm-100 col-12 " style="margin-top:150px; padding: 40px">
        <h3 class="text-center">Contact Us</h3><hr> <br> 

        {% if messages %}
            <meta http-equiv="refresh" content="2; url={% url 'contact' %}">
            {% for x in messages %}
                <div class="alert alert-success text-center">{{ x }}</div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'contact' %}" method="POST" name="contactform" class="row g-4 p-4  rounded">
            {% csrf_token %}
          
            <!-- First Name -->
            <div class="col-md-6">
              <label for="name" class="form-label">First Name</label>
              <input type="text" class="form-control" placeholder="Enter your Name" id="name" name="name" required>
            </div>
          
            <!-- Last Name -->
            <div class="col-md-6">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter your Last Name" id="lastname" name="lastname" required>
            </div>
          
            <!-- Email -->
            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Enter Your Email" id="email" name="email" required>
            </div>
          
            <!-- Subject -->
            <div class="col-12">
              <label for="subject" class="form-label">Subject</label>
              <input type="text" class="form-control" placeholder="Subject" id="subject" name="subject">
            </div>
          
            <!-- Message -->
            <div class="col-12">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control " placeholder="Your Message" rows="5" id="message" name="message" required style="height: 200px;"></textarea>
            </div>
          
            <!-- Submit Button -->
            <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="btn btn-warning bg-warning-subtle text-warning-emphasis border border-warning  px-5 py-2">Submit</button>
            </div>
          </form>
        
    </div>
</div> <br>

<div class="container my-5">
    <div class="row">
      <div class="col-12">
        <div class="card shadow rounded">
          <div class="card-body p-0">
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.086485183551!2d-122.41941508468186!3d37.77492977975909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858064f9f88e63%3A0xf4a4e29e36a560cf!2sSan+Francisco%2C+CA!5e0!3m2!1sen!2sus!4v1615148842843!5m2!1sen!2sus" 
              width="100%" 
              height="400" 
              style="border:0;" 
              allowfullscreen="" 
              loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  

    {% endblock main %}