
{% extends "Dashboard/dbase.html" %}
{% block dash %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Table</a></li>
                            <li class="active">Data table</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Booking Form</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Submit At</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Peoples</th>
                                            <th>Message</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                        {% for book in bf %}
                                        <tr>
                                            <td>{{book.submitted_at}}</td>
                                            <td>{{book.name}}</td>
                                            <td>{{book.email}}</td>
                                            <td>{{book.date}}</td>
                                            <td>{{book.time}}</td>
                                            <td>{{book.guests}}</td>
                                            <td>{{book.message}}</td>
                                            <td>
                                            
                                                    <a href="{% url 'edit_bookings' book.id %}" class="btn btn-warning btn-sm">
                                                        Edit
                                                    </a>
                                                
                                                  </td>
                                            <td><a href="{% url 'delete_bookings' book.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this booking?');">Delete</td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    
                                </table>
                               <!-- One Single Modal for Editing -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" id="editForm">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit Booking</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <div class="modal-body">
            <input type="hidden" name="id" id="bookingId">
  
            <div class="mb-3">
              <label>Name</label>
              <input type="text" class="form-control" name="name" id="bookingName" required>
            </div>
  
            <div class="mb-3">
              <label>Email</label>
              <input type="email" class="form-control" name="email" id="bookingEmail" required>
            </div>
  
            <div class="mb-3">
              <label>Date</label>
              <input type="date" class="form-control" name="date" id="bookingDate" required>
            </div>
  
            <div class="mb-3">
              <label>Time</label>
              <input type="time" class="form-control" name="time" id="bookingTime" required>
            </div>
  
            <div class="mb-3">
              <label>Guests</label>
              <input type="number" class="form-control" name="guests" id="bookingGuests" required>
            </div>
  
            <div class="mb-3">
              <label>Message</label>
              <textarea class="form-control" name="message" id="bookingMessage"></textarea>
            </div>
          </div>
  
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  
                                  
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->
    {% endblock dash %}
