{% extends "base.html" %}

{% block main %}

<div class="container " style="margin-top: 150px;">
  <div class="row">
    <div class="col-md-4">
      {% if object.image %}
      <img src="{{ object.image.url }}"  height="300px" width="300px"   alt="{{ object.title }}" class="img-fluid rounded shadow" />
      
      {% endif %}
    </div>
    <div class="col-md-8">
      <h1 class="mb-3">{{ object.title }}</h1>

      <p class="lead">{{ object.description|linebreaksbr }}</p>
      <hr />
    </div>
      <h2>Details</h2>
      <p>{{ object.details|linebreaksbr }}</p>
    
  </div>
</div>
{% endblock main %}
