{% extends "base.html" %}

{% block main %}
{% load static %}

<div class="container detail-section" style="margin-top: 150px;">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4">
        <img src="{{ dish.image.url }}" alt="{{ dish.name }}" class="img-fluid detail-img shadow-sm">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold mb-3">{{ dish.name|title }}</h1>
        <p class="lead text-muted">{{ dish.description }}</p>
        <h4 class="text-success mt-3">₹{{ dish.price }}</h4>
  
       
          <div class="mt-4">
            <h6>Ingredients:</h6>
            <p class="text-muted">{{ dish.ingredients}}</p>
          </div>
        
  
        <div class="mt-4 d-flex gap-3">
          <a href="{{ back_url }}" class="btn btn-outline-secondary">← Back to Menu</a>
          <button class="btn btn-success">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  


  
  <div class="container food-type">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12 text-sec mb-lg-0 mb-5 col-sm-12 order-sm-2 order-md-2 order-lg-1 order-2" >
       <h2>{{abt2.title}}</h2>
       <p>{{abt2.description|linebreaksbr }} </p>
       
       
      </div>
 
      <div class="col-lg-7 col-md-12 col-sm-12 order-sm-1 order-md-1 order-lg-2 order-1">
        <div class="">
          <img decoding="async" src='{{abt2.image.url}}'class="img-fluid h-100">
        </div>
      </div>
      


  
  
  


{% endblock main %}